body {
  /* overflow: hidden; */
  font-family: "roboto";
}

/* navbar */
.navbar {
  /* height: 101px; */
  background: #007bff;
}

.navbar-brand,
.nav-link {
  font-family: "roboto";
}

.hero {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

#buy {
  color: #007bff;
}

#buy:hover {
  background-color: transparent;
  color: white;
}

/* Hero */
.hero-title {
  font-family: "Playfair Display", serif;
  font-size: 53px;
  font-weight: bold;
}

/* Product */
.card,.card-img-top {
  border-radius: 20px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.08);
}

/* history */
.history {
  margin-top: 10px;
}

.carousel {
  margin-bottom: 5%;
}

/* testimonial */
.testimonial {
  padding-top: 40px;
  padding-bottom: 40px;
}

.gmaps{
  float: none;
  max-width: 100%;
  height: 410px;
}

/* footer */
footer {
  padding-bottom: 1px;
  padding-top: 20px;
}

/* Responsive */
@media (max-width: 720px) {
  .card-body {
    margin-left: 10px;
  }

  #product {
    margin-left: -15px;
    margin-right: 0px;
  }


}
